<h2>Our travel options:</h2>

<div class="d-flex gap-4">
    <div class="card" style="width: 18rem;">
    <img src="https://t4.ftcdn.net/jpg/02/57/75/51/240_F_257755130_JgTlcqTFxabsIKgIYLAhOFEFYmNgwyJ6.jpg" class="card-img-top" alt="London">
    <div class="card-body">
        <h5 class="card-title">London</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        <a href="#" class="btn btn-primary">Buy ticket now!</a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img src="https://houseofattractions.club/wp-content/uploads/2024/12/image-209-1024x683.png" class="card-img-top" alt="Kraków">
    <div class="card-body">
        <h5 class="card-title">Kraków</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        <a href="#" class="btn btn-primary">Buy ticket now!</a>
    </div>
    </div>
</div>




