@{
    ViewBag.Title = "Admin Panel";
    Layout = "_Layout";
}

<h2>Admin Panel:</h2>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Airports</h5>
                    <p class="card-text">Manage airports visible on website</p>
                    <a asp-area="" asp-controller="AdminAirport" asp-action="Index" class="btn btn-primary">Go to panel</a>
                </div>
            </div>
        </div>
        <div class="col">
            2 of 2
        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col">
            2 of 3
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
</div>